div{
    width: 600px;
    margin: 20px auto;
    box-sizing: border-box;
}
.satu{
    background-color: coral;
    padding: 20px;
    border: 5px solid black;
}
.dua{
    background-color: yellow;
    padding: 30px;
    border: 5px dashed blue;
}